@model int
<div class="table-actions">
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-light" title="عرض"><i class="bi bi-eye"></i></a>
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-sm btn-light" title="تعديل"><i class="bi bi-pencil"></i></a>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-sm btn-light text-danger" title="حذف"><i class="bi bi-trash"></i></a>
</div>
